body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    background-color: #1F1F1F;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header {
    text-align: center;
    padding: 50px 0;
}

header h1 {
    color: #76FF03;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: #76FF03;
    font-weight: bold;
}

section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    color: #76FF03;
}

form label, form input, form textarea, form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    color: #E0E0E0;
}

form input, form textarea {
    background-color: #333333;
    border: 1px solid #444444;
    padding: 10px;
    border-radius: 4px;
    color: #E0E0E0;
}

form button {
    background-color: #76FF03;
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: #121212;
    font-weight: bold;
    cursor: pointer;
}

form button:hover {
    background-color: #64DD17;
}

footer {
    text-align: center;
    padding: 20px 0;
    color: #E0E0E0;
}
.profile-photo {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    display: block;
    margin: 20px auto;
}
.profile-photo_1 {
    width: 400px;
    height: 250px;
    display: block;
    margin: 20px auto;
}
#contact ul li a{
    color: #64DD17;
}